html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
  background-image: url(../img/grid.png);
  width: 960px;
  margin: 22px auto;
  border: 1px solid #000
}

header.primary, footer.primary {
  width: 916px;
  margin: 22px;
  padding: 20px;
  float: left;
  background: rgba(0, 0, 0, 0.4);
}

#blog{
  width: 604px;
  margin-left: 22px;
  padding: 20px;
  float: left;
  background: rgba(0, 0, 0, 0.6);
}

aside {
  width: 292px;
  margin-left: 20px;
  padding: 20px;
  float: left;
  background: rgba(0, 0, 0, 0.3);
}