html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
  /*background-image: url(../img/grid.png);
  background-size: contain;*/
  width: 80vw;
  margin: 22px auto;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

header.primary {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  background: rgba(0, 0, 0, 0.4);
}

#content {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  display:grid; 
  grid-template-columns: subgrid; 
  grid-template-rows: subgrid;  
}

#blog {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  background: rgba(0, 0, 0, 0.6);
}

aside {
  grid-column: 9 / 13;
  grid-row: 1 / 2;
  background: rgba(0, 0, 0, 0.3);
}

footer.primary {
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  background: rgba(0, 0, 0, 0.4);
}